.symbol-page-container {
    max-width: 1036px;
    margin: 64px auto;
    margin-bottom: 0px;
    font-family: 'Open Sans';
    font-size: 15px;
    padding: 0 32px;
    color: #202020;
}

.symbol-page-separator {
    width: 100%;
    height: 32px;
}

.symbol-page-section-container {
    margin-bottom: 64px;
}

.symbol-page-code-container {
    background-color: #EBEBEB;
    margin: 16px 32px 0 32px;
    padding: 32px;
    border-radius: 4px;
}

.symbol-page-title {
    color: #4C3DA8;
    font-size: 26px;
    font-family: 'Open Sans';
    font-weight: 500;
}

.symbol-page-infos-path {
    font-style: italic;
    color: #3E3E3E;
}

.symbol-page-description {
    margin: 16px 32px 0 32px;
}

.symbol-page-parameters-container {
    margin: 16px 32px 0 32px;
}

.symbol-page-parameter-name {
    color: #4C3DA8;
    position: relative
}

.symbol-page-parameter-description {
    margin: 16px 32px 0 32px;
}

span.type {
    color: #3894D2;
}

span.operator {
    color: #3894D2;
}

span.class {
    color: #01831A;
}

span.symbol {
    color: #AB2239;
}

span.flag {
    color: #AB2239;
}

span.number {
    color: #7B68EE;
}

span.string {
    color: #A48B01;
}

span.function {
    color: #A48B01;
}

span.comment {
    color: #646464;
}


.symbol-card-body {
    margin: 32px;
}

.symbol-page-code-example {
    background-color: #EBEBEB;
    margin-top: 32px;
    padding: 32px;
    border-radius: 4px;
}

.symbol-page-example-sign {
    font-size: 12px;
    font-style: italic;
}

.symbol-page-example-sign > b {
    color: #4C3DA8;
}

.symbol-page-spe-comment{
    margin: 16px;
}

.symbol-page-comment-holder {
    margin: 16px;
}

.symbol-page-comment-warp {
    display: flow-root;
}

.symbol-page-comment-warp > form{
    float: right;
    width: 32px;
    height: 32px;
}

.symbol-page-comment-data {
    float: left;
}

.symbol-page-comment-data > div > span{
    font-style: italic;
    color:#91A6C2; 
}

.symbol-page-comment-data > div {
    font-size: 13px;
}

.symbol-page-comment-data > div > b {
    color: #4C3DA8;
}

.symbol-page-comment-delete {
    padding: 0px;
    width: 100%;
    height: 100%;
}

.symbol-page-new-comment {
    margin-bottom: 64px;
    height: 32px;
}

.symbol-page-new-comment-disabled {
    border-color:#3E3E3E!important;
    background-color: #fff!important;
    color: #3E3E3E!important;
}

.symbol-page-new-comment > input{
    margin-top: auto;
    margin-bottom: auto;
    height: 32px;
    border-width: 0;
    outline: none;
    width: calc(100% - 32px);
}

.symbol-page-new-comment > button{
    padding: 0;
    margin-top: auto;
    margin-bottom: auto;
    width: 32px;
    height: 32px;
}

.symbol-page-connect {
    margin-bottom: 64px;
}

.symbol-page-connect > a {
    text-decoration: none;
    color: #7B68EE;
    font-style: italic;
}

.symbol-page-example-form > div{
    margin-bottom: 16px;
}

.symbol-page-example-form > div > p {
    margin: 0;
}

.symbol-page-example-form > div > input {
    outline: none;
    width: calc(100% - 32px);
    height: 32px;
    padding: 2px 8px;
    margin: 0 16px;
}

.symbol-page-send-example{
    margin-top: 32px;
}

.symbol-example-fst-block-card{
    display: flex;
}

.symbol-page-vote-example {
    margin: auto;
    text-align: center;
}

.symbol-page-vote-example > button {
    background-color: #fff;
    color: #3E3E3E;
    border-color: #3E3E3E;
    padding: 0px;
    height: 32px;
    width: 32px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.symbol-page-upvote:hover {
    color: #fff;
    background-color: #28a745;
    border-color:#28a745;
}
.symbol-page-upvote:focus {
    color: #fff;
    background-color: #28a745;
    border-color:#28a745;
}

.symbol-page-downvote:hover {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}
.symbol-page-downvote:focus {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.symbol-page-vote-example-up {
    color: #fff!important;
    background-color: #28a745!important;
    border-color:#28a745!important;
}

.symbol-page-vote-example-down {
    color: #fff!important;
    background-color: #dc3545!important;
    border-color: #dc3545!important;
}

.symbol-page-inner-example {
    width: 100%;
    margin-left: 32px;
    margin-right: 16px;
}

#symbol-page-vote-value{
    font-size: 20px;
}

.symbol-page-inner-tooltip {
    position: relative;
    display: inline-block;
}

.symbol-page-inner-tooltip:hover .symbol-page-tooltip {
    visibility:visible;
    opacity:1;
}

.symbol-page-tooltip {
    width: max-content;
    top:50%;
    left:100%;
    margin-left:20px;
    transform:translate(0, -50%);
    padding:0;
    color:#202020;
    background-color:#cccccc;
    font-weight:normal;
    border-radius:4px;
    position:absolute;
    z-index:999;
    box-sizing:border-box;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
    visibility:hidden;
    opacity:0;
    transition:opacity 0.8s;
}

.symbol-page-tooltip-text-content{
    padding:10px 20px;
}

.symbol-page-tooltip-code-preview {
    background-color: #EBEBEB;
    padding: 8px;
    border-radius: 4px;
    margin-top: 8px;
}

.symbol-page-tooltip-title {
    color: #4C3DA8;
    font-size: 20px;
    font-family: 'Open Sans';
    font-weight: 600;
}

.symbol-page-tooltip i {
    position:absolute;
    top:50%;
    right:100%;
    margin-top:-12px;
    width:12px;
    height:24px;
    overflow:hidden;
}

.symbol-page-tooltip i::after {
    content:'';
    position:absolute;
    width:12px;
    height:12px;
    left:0;
    top:50%;
    transform:translate(50%,-50%) rotate(-45deg);
    background-color:#cccccc;
    box-shadow:0 1px 8px rgba(204, 204, 204, .5);
}

.symbol-page-section-title-container {
    background: #dedede;
    padding: 16px;
}

.symbol-page-section-title-container > .symbol-page-title {
    font-weight: 700;
    font-style: italic;
}

.symbol-page-type-symbol-title {
    font-size: 20px;
    margin-top: 8px;
}

.symbol-page-comment-title {
    margin-top: 16px;
    display: block;
    font-size: 16px;
    font-weight: bold;
    color: #4C3DA8;
}