.faq-content-page {
    margin-left: 443px;
    margin-right: 442px;
    margin-top: 96px;
}

.faq-description-card {
    margin-top: 64px;
}

.faq-title {
    line-height: 40px;
    font-family: 'Open Sans';
    font-weight: bold;
    color: #4C3DA8;
}

.faq-content {
    margin-left: 29px;
    margin-top: 32px;
}

.faq-select-question {
    cursor: pointer;
    margin-left: -11px;
    margin-top: 64px;
}

.faq-answer-content {
    margin-left: 84px;
    margin-top: 30px;
}

.faq-title-question-part {
    height: 25px;
    font-size: 26px;
    font-family: 'Open Sans';
    color: #4C3DA8;
    margin-right: 8px;
}

.faq-grower {
    width: 41px !important;
    height: auto !important;
    float: left;
    color: #7B68EE;
}

.faq-colored-text {
    font-size: 15px;
    font-family: 'Open Sans';
    color: #7B68EE;
    font-style: italic;
}

.faq-ul{
    color: #7B68EE;
}

.faq-li {
    color: #202020;
}

.faq-dl {
    display: flex;
    color: #202020;
}

.faq-dd {
    margin-left: 16px;
}

.faq-code_example_background {
    font-size: 15px;
    font-family: 'Open Sans';
    line-height: 14px;
    background: #EBEBEB;
    padding-left: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-top: -8px;
    border-radius: 3px;
    margin-bottom: 1rem;
    color: #202020;
}

.faq-description {
    font-size: 15px;
    font-family: 'Open Sans';
    color: #202020;
}
.faq-description > a:hover {
    color: #4C3DA8;
}