.type {
    color: #0082A9;
}

.flag {
    color: #C50021;
}

.func {
    color: #007914;
}

.int {
    color: #8019BB;
}

.text {
    color: rgb(3, 3, 3);
}

.sys {
    color: #C50021;
}

.front {
    color: #8560A8;
}

.string{
    color: #AF9000;
}

.minor {
    font-family: OpenSansRegular;
    color: #DCDCDC;
    padding-bottom: 0.5%;
}

.cardbackgroundcolor {
    background-color: #D7D7D7;
    border-color: lightgrey;
}

.black {
    font-family: OpenSansRegular;
    color: #0E0E0E;
    padding-bottom: 0.5%;
}