.download-page-container {
    max-width: 1036px;
    margin: 32px auto;
    font-family: 'Open Sans';
    font-size: 15px;
    padding: 0 32px;
    color: #202020;
}

.download-page-title {
    color: #4C3DA8;
    font-size: 26px;
}

.download-page-download-content {
    padding: 64px 0;
}

.download-page-text-container {
    padding: 32px 42px;
}

.download-page-text > a {
    color: #7B68EE;
    font-style: italic;
}
.download-page-text > a:hover {
    color: #4C3DA8;
}

.download-page-button-container {
    margin-top: 64px;
    display: flex;
    justify-content: center;
    margin-left: 125px;
}

.download-page-button-container-disabledtrue {
    cursor: not-allowed;
}

.download-page-button-container > .Mui-disabled {
    background-color:#868686!important;
}

.download-page-button-title {
    font-weight: bold;
}

.download-page-button-description {
    font-style: italic;
    float: left;
}

.download-page-subtext {
    margin-top: 16px;
    color: #3E3E3E;
    font-style: italic;
    text-align: center;
}

.download-page-other-container {
    margin: 32px 0 64px 0;
}

.download-page-other {
    display: flex;
    cursor: pointer;
    margin-bottom: 16px;
}

.download-page-other > a {
    color: #7B68EE;
}
.download-page-other > a:hover {
    color: #4C3DA8;
}

.download-page-other-link {
    color: #4C3DA8;
    margin-left: 16px;
}

.download-page-text-field > div {
    min-width: 250px;
}

.download-page-form-container {
    margin-top: 64px;
}

.download-page-form-container > div {
    display: block;
}

.download-page-selector {
    margin-top: 32px!important;
}

.download-page-selector > div {
    min-width: 250px;
}

.download-page-form {
    display: flex
}