@font-face {
    font-family: 'OpenSans-Bold';
    src: url('../../Components/Header/font/OpenSans-Bold.ttf');
}
@font-face {
    font-family: 'OpenSans-Regular';
    src: url('../../Components/Header/font/OpenSans-Regular.ttf');
}


.content_account {
    margin-left: 23%;
    margin-right: 30%;
    margin-top: 50px;
    margin-bottom: -48px;
}

.content_account > span {
    display: block;
    font-family: OpenSans-Regular;
    color: #4C3DA8;
    font-size: 26px;
}

.form_account {
    margin-top: 16px;
    margin-left: 32px;
    display: grid;
}

.text_field_acc {
    width: 75%;

}

.profile_infos {
    margin-left: 32px;
    margin-top: 48px;
    width: 48.5%;
    display: flex;
    justify-content: space-between;
}

.left_info {
    display: grid;
}

.left_info > span {
    font-family: OpenSans-Regular;
    color: #4C3DA8;
    line-height: 36px!important;
    font-style: italic;
}

.info_down {
    margin-top: 16px;

}

.right_info {
    display: grid;
}

#userPoints {
    font-family: OpenSans-Bold;
    font-size: 38px;
    font-weight: normal;
    margin-top: 16px;
    color: #4C3DA8;
    margin: 0;
    margin-bottom: -55px;
    text-align: right;
}

.right_info > span {
    font-family: OpenSans-Regular;
    color: #4C3DA8;
    font-size: 26px;
    font-weight: bold;
}

div > .text_field_acc {
    margin-bottom: 32px;
}
div > .submit_btn_acc {
    margin: 0;
    width: 75%;
    background-color: #7B68EE;
    padding: 21px;
    color: white;
    font-size: 16px;
}

.footer_container {
    color: white;
    background-color: #7B68EE;
    margin-top: 96px;
    display: flex;
    padding-left: 12%;
    padding-right: 12%;
    justify-content: space-between;
    height: 96px;
}

.copyright {
    margin-top: auto;
    margin-bottom: auto;
    font-family: OpenSans-Bold;
    vertical-align: middle;
}

.logo_footer {
    width: 40px;
    /* padding-right: 16px; */
}

.copyright_txt {
    padding-left: 32px;
}

.useful {
    margin-top: auto;
    margin-bottom: auto;
    vertical-align: middle;
}

.useful > a {
    font-family: OpenSans-Regular;
    color: white;
    padding-left: 16px;
}

.profile_card {
    margin-top: 16px;
    width: 256px;
    height: 256px;
    display: grid;
    box-shadow: -1px 5px 5px #b1aeae;
    border: 1px solid #B7B7B7;
}

.profile_pic {
    margin: 30px;
}

.form_float_right {
    width: 100%;
}
.form_float_right > div {
    float: right;
}

.control_label {
    font-family: OpenSans-Regular;
    color: #4C3DA8;
    font-size: 26px;
    font-weight: bold;
    margin-top: 16px;
}

.margin_in_form {
    margin-bottom: 46px;
}