.profile-content-account {
    margin-left: 23%;
    margin-right: 30%;
    margin-top: 50px;
}

.profile-content-account > span {
    display: block;
    font-family: 'Open Sans';
    color: #4C3DA8;
    font-size: 26px;
}

.profile-form-account {
    margin-top: 16px;
    margin-left: 32px;
}

.profile-infos {
    margin-left: 32px;
    margin-top: 48px;
    width: 52%;
    display: flex;
    justify-content: space-between;
}

.profile-left-info {
    display: grid;
    /* width: 50%; when user point usefull*/
}

.profile-left-info > span {
    font-family: 'Open Sans';
    color: #4C3DA8;
    line-height: 36px!important;
    font-style: italic;
}

.profile-info-down {
    /* margin-top: 16px; uncomment when user point usefull*/
}

.profile-info-right {
    display: grid;
}

#userPoints {
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 38px;
    font-weight: normal;
    color: #4C3DA8;
    text-align: right;
    bottom: -54px;
    right: -2px;
    position: relative;
}

.profile-info-right > span {
    font-family: 'Open Sans';
    color: #4C3DA8;
    font-size: 26px;
    font-weight: bold;
}

.profile-form-account > a {
    text-decoration: none;
}

a > .profile-submit-btn {
    margin-top: 32px;
    width: 90%;
    background-color: #7B68EE;
    padding: 21px;
    color: white;
    font-size: 16px;
    font-weight: bold;
}
a > .profile-submit-btn:hover {
    background-color: #7B68EE!important;
}
a > .profile-submit-btn:focus {
    outline-width: 0;
}

.profile-card {
    margin-top: 16px;
    width: 256px;
    height: 256px;
    box-shadow: -1px 5px 5px #b1aeae;
    border: 1px solid #B7B7B7;
}

.profile-pic {
    margin: 30px;
    height: 194px;
}

.profile-float-right {
    width: 100%;
    margin-top: 16px;
}
.profile-float-right > div {
    float: left;
}

.profile-control-label {
    font-family: 'Open Sans';
    color: #4C3DA8;
    font-size: 26px;
    font-weight: bold;
    margin-top: 16px;
}

.profile-top-form {
    display: flex;
}

.profile-top-form > .profile-form-account {
    width: 150%;
}

.profile-top-form > .profile-form-account > .profile-text-field-acc {
    width: 90%;
}

.profile-bottom-form {
    margin-top: -73px;
}

.profile-bottom-form > .profile-form-account {
    display: grid;
    width: 52%;
}


.profile-vertical-separator {
    border: solid 1px #B7B7B7;
}

.profile-value-container {
}

.profile-value-label-form {
    color: #4C3DA8;
    font-size: 20px;
}

.profile-value-form {
    color: #202020;
    font-size: 16px;
    margin: 0px 64px 0px 8px;
}

.profile-form-account > hr {
    background: #EBEBEB;
    width: 90%;
    margin: 8px 8px 16px 0px;
}