.privacy-content-page {
    margin-left: 443px;
    margin-right: 442px;
    margin-top: 96px;
}

.privacy-title {
    line-height: 40px;
    font-family: 'Open Sans';
    font-weight: bold;
    color: #4C3DA8;
}

.privacy-content {
    margin-left: 29px;
    margin-top: 32px;
}

.privacy-content > p {
    font-size: 15px;
    color: #202020;
    font-family: 'Open Sans';
}

.privacy-updated {
    margin-bottom: 64px;
}

.privacy-desc-content {
    margin-bottom: 16px;
}

.privacy-desc-content > a {
    color: #7B68EE;
    font-style: italic;
}
.privacy-desc-content > a:hover {
    color: #4C3DA8;
}

.privacy-headlines {
    color: #4C3DA8;
    font-family: 'Open Sans';
    font-weight: bold;
    margin-top: 64px;
    margin-bottom: 32px;
}