@font-face {
    font-family: OpenSansRegular;
    src: url(./font/OpenSans-Regular.ttf);
}
.fontRegular {
    font-family: OpenSansRegular;
}

@font-face {
    font-family: OpenSansBold;
    src: url(./font/OpenSans-Semibold.ttf);
}
.fontBold {
    font-family: OpenSansBold;
}

.inner-addon {
    position: relative;
}

.right-addon .glyphicon {
    right: 0px;
}

.inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}

.header-bar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    justify-content: space-between;
}

.navbar-default a {
    outline: none;
}

.inset {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    box-shadow:
        inset 0 0 0 2px rgba(255,255,255,0.6), 
        0 1px 1px rgba(0,0,0,0.1);
    background-color: transparent !important;
    z-index: 999;
}

.inset img {
    outline: none;
    border-radius: inherit;
    width: inherit;
    height: inherit;
    display: block;
    position: relative;
    z-index: 998;
}

.inner-addon.right-addon input {
    color: white;
}