.header-inner-addon {
    position: relative;
    display: flex;
    background-color: white;
    margin-top: 12px;
    margin-bottom: 12px;
    width: 33%;
    padding-left: 16px;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
}

.header-right-addon .glyphicon {
    right: 0px;
}

.header-inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}

.header-appbar {
    background-color: #7B68EE!important;
    padding-left: 10px;
    padding-right: 26px;
    height: 70px;
    width: 100%;
    display: flex;
    position: fixed;
    justify-content: space-between;
    z-index: 999;
}

.header-left {
    color: white;
    display: flex;
    align-items: center;
}

.header-button {
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
}

.header-button:hover{
    background-color: #7664E5;
    border-radius: 4px;
}

.header-button:focus {
    outline-width: 0;
}

.header-button-logo {
    background-color: #7B68EE;
    color: white;
    margin-left: 16px!important;
}

.header-menu-icon {
    font-size: 48px!important;
    font-weight: bold!important;
}

.header-header-title {
    font-family: 'Open Sans'!important;
    font-weight: bold!important;
    font-size: 26px!important;
    color: white;
    text-transform: none!important;
}

.header-right {
    float: right;
    display: flex;
    align-items: center;
}

.header-right > a {
    font-family: 'Open Sans';
    font-weight: bold;
    color: white;
    margin-left: 16px;
    font-size: 15px;
    padding: 5px 3px 5px 3px;
}

.header-right > a:hover {
    background-color: #7664E5;
    border-radius: 4px;
    text-decoration: none;
}

.header-search_icon {
    margin-bottom: 12px;
    margin-top: 12px;
    margin-left: 16px;
    margin-right: 16px;
    color: #9E9E9E;
}

.header-img-profile {
    border-radius: 50%;
    width: 48px;
    height: 48px;
    border: white solid 2px;
}

.header-profile-btn {
    background-color: transparent!important;
    box-shadow: none!important;
    text-decoration: none!important;
    outline: none!important;
}

.account-btn-menu > .MuiPaper-root{
    right: 0px!important;
    top: 0px!important;
    width: 320px;
    border-radius: 0px 0px 4px 4px;
    left: auto!important;
}

.account-btn-menu > .MuiPaper-root > ul {
   padding: 0px!important;
   margin-left: 16px;
   outline: none;
}

.account-btn-title-container {
    display: flex;
    outline: none;
}

.account-btn-title-container > span {
    margin: auto;
    padding: 3px;
    border-radius: 4px;
    background: #7B68EE;
    margin-right: 0px;
    cursor: pointer;
}

.account-btn-title-container > span > svg {
    font-size: 33px;
    color: #ffffff;
}

.account-btn-title {
    margin: 20px 0px 18px 0px;
    outline: none;
    font-size: 26px;
    font-family: 'Open Sans';
    font-weight: 600;
    color: #4C3DA8;
}

.account-btn-infos {
    display: flex;
    margin-bottom: 18px;
}

.account-btn-profile-picture {
    display: flex;
}

.account-btn-profile-picture > img {
    width: 88px;
    height: 88px;
    margin: auto;
    border: 4px solid #4C3DA8;
    background-color: #4C3DA8;
}

.account-btn-profile-useful {
    width: 100%;
    padding-left: 10px
}

.account-btn-pseudo {
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 16px;
    color: #3E3E3E;
    overflow: hidden;
    text-overflow: ellipsis;
}

.account-btn-secondary {
    font-family: 'Open Sans';
    font-size: 14px;
    color: #3E3E3E;
    overflow: hidden;
    text-overflow: ellipsis;
}

.account-btn-links {
    margin-top: 8px;
}

.account-btn-links > a {
    font-size: 14px;
    font-family: 'Open Sans';
    color: #7B68EE;
    font-style: italic;
    display: block;
    width: fit-content;
}

.account-btn-links > a > svg {
    width: 20px;
}