.page-maintenance {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    font-family: 'Open Sans';
    font-size: 23px;
    color: #202020;
    text-align: center;
}

.page-maintenance-logo{
    background:  #7B68EE;
    padding: 16px;
    margin: auto;
    width: fit-content;
    border-radius: 100%;
    margin-top: 64px;
}

.page-maintenance-logo-img {
    width: 200px;
}

.page-maintenance-sub-title {
    margin-top: 48px;
}

.page-maintenance-sub-title > div {
    font-size: 26px
}

.page-maintenance-sub-title > p {
    margin-top: 16px;
    font-size: 19px;
    font-style: italic;
    color:  #868686;
}