.coderecom-content-page {
    margin-left: 443px;
    margin-right: 442px;
    margin-top: 96px;
}

.coderecom-card {
    margin-top: 60px;
}

.coderecom-title {
    line-height: 40px;
    font-family: 'Open Sans';
    font-weight: bold;
    color: #4C3DA8;
    margin-right: 16px;
    margin-bottom: 0;
    font-size: 26px;
}

.coderecom-content {
    margin-left: 44px;
    margin-top: 31px;
}

.coderecom-description {
    font-size: 15px;
    font-family: 'Open Sans';
    color: #202020;
}

.coderecom-ul {
    color: #7B68EE;
}

.coderecom-li {
    color: #202020;
    margin-bottom: 0;
    margin-top: 0;
}

.coderecom-code-box {
    background-color: #EBEBEB;
    padding: 32px;
    font-size: 15px;
    margin-bottom: 32px;
    border-radius: 3px;
}

.coderecom-code-box > p {
    margin-bottom: 0;
    margin-top: 0;
}

.coderecom-code-comment {
    color: #7B7B7B;
}

.coderecom-code-blue {
    color: #3894D2;
}

.coderecom_coderecom-code-green {
    color: #198C2F;
}