.content_coderecom_page {
    margin-left: 443px;
    margin-right: 442px;
    margin-top: 96px;
    margin-bottom: -16px;
}

.coderecom_card {
    margin-top: 60px;
}

.coderecom_title {
    line-height: 40px;
    font-family: 'Open Sans';
    font-weight: bold;
    color: #4C3DA8;
    margin-right: 16px;
    margin-bottom: 0;
    font-size: 26px;
}

.coderecom_content {
    margin-left: 44px;
    margin-top: 31px;
}

.coderecom_description {
    font-size: 15px;
    font-family: 'Open Sans';
    color: #202020;
}

.big_title {
    display: flex;
}

.big_title > span {
    line-height: 42px;
}

.secondary_title_component {
    margin-bottom: 30px;
}

.secondary_title {
    font-size: 15px;
    font-family: 'Open Sans';
    color: #202020;
}

.secondary_title_description {
    margin-top: 16px;
    margin-left: 30px;
}

.ul_coderecom {
    color: #7B68EE;
}

.li_coderecom {
    color: #202020;
    margin-bottom: 0;
    margin-top: 0;
}

.coderecom_code_box {
    background-color: #EBEBEB;
    padding: 32px;
    font-size: 15px;
    margin-bottom: 32px;
    border-radius: 3px;
}

.coderecom_code_box > p {
    margin-bottom: 0;
    margin-top: 0;
}

.coderecom_code_comment {
    color: #7B7B7B;
}

.coderecom_code_blue {
    color: #3894D2;
}

.coderecom_code_green {
    color: #198C2F;
}