.terms-content-page {
    margin-left: 443px;
    margin-right: 442px;
    margin-top: 96px;
}

.terms-title {
    line-height: 40px;
    font-family: 'Open Sans';
    font-weight: bold;
    color: #4C3DA8;
}

.terms-content {
    margin-left: 29px;
    margin-top: 32px;
}

.terms-content > p {
    font-size: 15px;
    color: #202020;
    font-family: 'Open Sans';
}

.terms-updated {
    margin-bottom: 64px;
}

.terms-desc-content {
    margin-bottom: 16px;
}

.terms-subtitle {
    color: #6C60B7!important;
}

.terms-headlines {
    color: #4C3DA8;
    font-family: 'Open Sans';
    font-weight: bold;
    margin-top: 64px;
    margin-bottom: 32px;
}