html, body {
    height: 100%;
    font-family: sans-serif;
}

body {
    overflow-x: hidden;
    overflow-y: auto !important;
    padding-right: 0 !important;
    margin: 0;
    padding: 0;
}

#root {
    height: 100%;
}

.inner-root {
    height: 100%;
}

#wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    padding-top: 70px;
}


#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #f2f2f2;
    color: #202020;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    box-shadow: 0 1px 8px rgba(0,0,0,0.5);
    font-family: 'Open Sans';
    overflow-x: hidden;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    flex: 1 0 auto;
    width: 100%;
    position: absolute;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

.sidebar-nav {
    top: 0;
    width: 250px;
    margin: 0;
    margin-top: 22px;
    padding: 0;
    list-style: none;
    white-space: nowrap;
}

.sidebar-nav a {
    padding-top: 4px;
    padding-bottom: 4px;
    outline: none;
    text-decoration: none;
    color: #202020;
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
    outline: none;
}

.sidebar-nav li a > img {
    height: 35px;
    margin-right: 16px;
}

.sidebar-nav-home > a {
    display: flex;
}

.sidebar-icons {
    margin-right: 8px;
    color : #7B68EE;
    font-size: 31px!important
}

.sidebar-nav-home > a:hover {
    text-decoration: none;
    background-color: white;
}

.sidebar-nav li {
    text-indent: 16px;
    line-height: 26px;
}

.sidebar-nav li a {
    margin: 8px 8px 8px 8px;
    background-color: white;
    outline: none;
    display: block;
    text-decoration: none;
    color: #202020;
    border-radius: 4px;
    box-shadow: 0 1px 8px rgba(0,0,0,0.2);
    padding: 8px 0;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #3E3E3E;
    background: #acacac;
}

.sidebar-nav li ul li {
    padding: 0 8px;
    
}

.sidebar-nav li ul li a {
    /* padding-left: 43px; */
    outline: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    border-radius: 0px;
    box-shadow: 0 1px 8px rgba(0,0,0,0);
}

.sidebar-nav li ul li a:active, .sidebar-nav li ul li a:focus{
    background: #D7D7D7;
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
    text-decoration: none;
    background: #acacac;
}

.title-sidebar-nav {
    margin-bottom: 0;
    padding: 4px 0 4px 12px;
}

.sidebar-nav p {
    color: #434343;
    display: flex;
}

.sidebar-fontRegular {
    font-family: 'Open Sans';
}

.title-sidebar-nav span {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 0;
        padding-top: 70px;
    }
    #sidebar-wrapper {
        width: 0;
    }
    #wrapper.toggled #sidebar-wrapper {
        width: 250px;
    }
    #page-content-wrapper {
        /* padding: 20px; */
        position: relative;
    }
    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}