.footer-container {
    color: white;
    background-color: #7B68EE;
    margin-top: 96px;
    display: flex;
    padding-left: 12%;
    padding-right: 12%;
    justify-content: space-between;
    height: 96px;
}

.footer-copyright {
    margin-top: auto;
    margin-bottom: auto;
    font-family: 'Open Sans';
    font-weight: bold;
    vertical-align: middle;
    display: flex;
}

.footer-logo {
    width: 40px;
}

.footer-copyright-txt {
    padding-left: 32px;
    margin: auto;
}

.footer-useful {
    margin-top: auto;
    margin-bottom: auto;
    vertical-align: middle;
}

.footer-useful > a {
    font-family: 'Open Sans';
    color: white;
    margin-left: 16px;
}

.footer-opinion, .footer-opinion:focus, .footer-opinion:active {
    position: absolute!important;
    margin-top: -120px!important;
    margin-right: 16px!important;
    right: 0!important;
    width: 64px!important;
    height: 64px!important;
    padding : 0!important;
    border-radius: 100px!important;
    background-color: #7B68EE!important;
    outline: none;
    cursor: pointer;
    display: flex;
    box-shadow: 0 1px 8px rgba(0,0,0,0.5);
}

.footer-opinion:hover {
    background-color: #4C3DA8!important;
}

.footer-opinion svg {
    font-size: 30px;
    height: 40px;
    margin: auto;
}

.foorter-opinion-tooltip {
    background-color: white!important;
}