.footer-container {
    color: white;
    background-color: #7B68EE;
    margin-top: 96px;
    display: flex;
    padding-left: 12%;
    padding-right: 12%;
    justify-content: space-between;
    height: 96px;
}

.footer-copyright {
    margin-top: auto;
    margin-bottom: auto;
    font-family: 'Open Sans';
    font-weight: bold;
    vertical-align: middle;
    display: flex;
}

.footer-logo {
    width: 40px;
}

.footer-copyright-txt {
    padding-left: 32px;
    margin: auto;
}

.footer-useful {
    margin-top: auto;
    margin-bottom: auto;
    vertical-align: middle;
}

.footer-useful > a {
    font-family: 'Open Sans';
    color: white;
    padding-left: 16px;
}