.back_img {
    width: 100%;
}

.overlay {
    filter: brightness(50%);
}

.title {
    position: relative;
    text-align: center;
    color: white;
}

.logo_title {
    width: 200px;

}

#headline {
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    display: -webkit-inline-box;
    text-align: left;
}

#description {
    padding-left: 64px;
}

.italic {
    font-style: italic;
}

#description .big_title {
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
}

#description .small_title {
    font-family: 'Open Sans';
    font-size: 26px;
}

.home_card {
    padding: 32px;
    padding-top: 64px;
    color: #4C3DA8;
    margin-left: 13%;
    margin-right: 13%;
    margin-top: 80px;
    text-align: center;
}

.gray_card {
    background-color: #E5E5E5;
}

.card_title {
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 36px;
}

.tiles_container {
    padding: 64px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 16px;
}

.tile {
    padding: 32px;
    width: 400px;
}

.logo_tile {
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 32px;
}

.description_tile {
    font-family: 'Open Sans';
    line-height: 15px;
    margin: 0 auto;
    text-align: center;
}
