.contact-content-page {
    margin-left: 443px;
    margin-right: 442px;
    margin-top: 96px;
}

.contact-card {
    margin-top: 60px;
}

.contact-title {
    line-height: 40px;
    font-family: 'Open Sans';
    font-weight: bold;
    color: #7B68EE;
    margin-right: 16px;
    margin-bottom: 0;
}

.contact-content {
    margin-left: 44px;
    margin-top: 31px;
}

.contact-description {
    font-size: 15px;
    font-family: 'Open Sans';
    color: #202020;
}

.contact-description > a:hover {
    color: #4C3DA8;
}

.contact-big-title {
    display: flex;
}

.contact-big-title > span {
    line-height: 42px;
}

.contact-secondary-title-component {
    margin-bottom: 16px;
}

.contact-secondary-title {
    font-size: 18px;
    font-family: 'Open Sans';
    color: #7B68EE;
    font-weight: 700;
}

.contact-secondary-title-description {
    margin-top: 8px;
    margin-left: 30px;
}

.contact-colored-text {
    font-size: 15px;
    font-family: 'Open Sans';
    color: #4C3DA8;
    font-style: italic;
}

.contact-social {
    display: flex;
    margin-bottom: 16px;
}

.contact-social > img{
    height: 40px;
    margin-right: 16px;
}

.contact-social > div {
    justify-content: center;
    display: flex;
    align-items: center;
}